header{
    background: salmon;
    width:100%;
    border: 10px groove red;
    height:100px;
    text-align: center;
    
}

li{
    color:blue;
    background-color: cyan;
    padding-left:2px;
    margin-right:5px;
}
body{
    background-color: white;
}
/* NavBar */
#nav{
    width:1020px;
    color:#999;
    margin:auto; 
    height: 80px;
    padding-top: 10px;
}

#nav img{
    margin-left: 30px;
    position: relative;
    float: left;
}
#nav ul{
    float: left;
    padding-top: 10px;
}

#nav li{
    list-style: none;
    float: left;
    padding-right: 100px;
    
}

 section div{
    color:#999;
    padding-right: 100px;
    display:inline;
    position:relative;
    bottom:25px;
    left:40px;
    
}
/* container for content */
#container{
    width:1020px;
    margin:auto;
}
#head{
    float:right;
    color:white;
    font-size:50px;
    
   
}
#bigPic{
    border:10px ridge cyan;
}

#hero {
    position:relative;
    margin:30px;
    height:500px;
    
    
}
main{
    background-color:salmon;
}
body{
    background-color: cyan;;
}

#subBannerImgs{
    margin: 15px;
    
}
.midPic{
    border:10px groove red;
}

#subBannerImgs img{
    padding:15px;  
    width:200px;
}

#featuredContainer{
    margin:30px;
    background-color: salmon;
    
}
#paragraph{
    width:450px;
    height:400px;
    margin-left:30px;
    position:relative;
    float:right;
    
}
p{
    border:10px groove red;
    background-color:cyan;
}
#featuredContainer img{
    position:relative;
    float:left;
}
 #bottom{
    height:310px;
    padding:20px;
    padding-bottom:50px;
    position:relative;
    bottom:30px;
  
}
h2{
    position:relative;
    bottom:30px;
}
#family{
    font-size:50px;
    text-align:center;
    margin-top:100px;
    
}
#madeFrom{
    font-size:50px;
    text-align:center;
}
h2{
    margin:0px;
}
footer{
    height:100px;
    background:salmon;
    position:relative;
    width:100%;
    top:430px;
    border: 10px groove red;


    
}
#fish1{
    width:200px;  
    float:right;   
    background-color:cyan;
    border: 10px groove red;

}
#fish2{
    width:200px;  
    float:right;  
    height:65px;
    border: 10px groove red;
}